/* Minimalny reset  */
html {
  font-size: 16px; /* bazowy rozmiar czcionki */
  font-family: system-ui, sans-serif; /* font systemowy */
  line-height: 1.5; /* lepsza czytelność */
}

body {
  margin: 1rem;
  padding: 0;
}

a {
  color: #0066cc; /* niebieski kolor linków */
  text-decoration: none; /* bez podkreślenia */
  font-size: 1.4rem;
  text-align: center;
}

a:hover {
  text-decoration: underline; /* podkreślenie przy najechaniu */
}

header{
  width: auto;
  height:auto;
  border-style:solid;
  border-width: 5px 5px 5px 5px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
}

header:has(>h1) {
  text-align: center;
}

nav {
  text-align: center;
  border-style:solid;
  border-width: 0px 5px 5px 5px;
}

:is(nav) a {
  color: green;
  padding: 0px 20px 0px 20px;
  font-size: 30px;
}

:is(nav) a:hover {
  background-color: gray;
  text-decoration: none;
  color:greenyellow;
  transition: 0.5s;
}



:is(aside) input[type="text"], :is(aside) input[type="password"] { 
  border: 1px solid gray;
  background-color: cornsilk;
  width:275px;
  height:50px;
  font-size: 35px;
}

:is(aside) input[type="text"]:focus, :is(aside) input[type="password"]:focus { 
  background-color:powderblue;
  border-color: cornflowerblue;
  border-style: solid;
  border-width: 5px;
}

:is(aside) input[type="submit"]{
background-color: mediumturquoise;
border-color: deepskyblue;
height:45px;
margin-left:50px;
}

:is(aside) input[type="submit"]:hover{
background-color:turquoise;
border-color: aliceblue;
}



main{
  max-width: 500px;
  margin:auto;
  font-size: 16px;
}

:is(main) input{
  font-size: 16px;
}

#main_header{
  text-wrap: balance;
  float:left;
  width:450px;
}

#main_darkmode a{
  font-size: 35px;
  float:left;
  width:50px;
  margin-top: 35px;
  text-decoration: none;
}

#main_darkmode a:hover{
  cursor:pointer;
}

#main_form{
  box-shadow: 0px 0px 5px black;
  border-radius: 5px;
  clear:both;
  width:430px;
  padding-top: 10px;
  padding-left: 35px;
  padding-right: 35px;
}

:is(main) p{
  margin-bottom: 0px;
}

:is(main) input[type="text"]{
  margin-left: auto;
  margin-right: auto;
  width:430px;
  height:32px;
}

:is(main) input[type="email"]{
  margin-left: auto;
  margin-right: auto;
  width:430px;
  height:32px;
}
